In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel(r"C:\Users\divtec-dados\OneDrive\CEASA\Notas Fiscais Antigas\Notas Fiscais 2023 padr√£o MySQL.xlsx",thousands='.', decimal=',',)

In [7]:
df = df.rename(columns={'nota_fiscal':'numeroNotaFiscal'})
df['numeroNotaFiscal'] = df['numeroNotaFiscal'].astype('str')

In [10]:
df.to_csv(
	'notas fiscais planilhas 2024.csv',
	header=True,
	index=False,
	sep=',',
	encoding='utf-8'
)

## Database MySQL

In [5]:
%%sql
SELECT
    data, numeroNotaFiscal, destino, procedencia, produto, unidade, unidade_peso, quantidade, volume, nome_usuario_sistema
FROM notas_fiscais_temporario.divtec_notasfiscais
ORDER BY destino, data, procedencia, produto

,data,numeroNotaFiscal,destino,procedencia,produto,unidade,unidade_peso,quantidade,volume,nome_usuario_sistema
0,2023-01-03,540118,0100000-PRODUTORES,0143243-TAVARES (RS),08001-CEBOLA NACIONAL,SACO,20.0,60.0,1200.0,Sistema
1,2023-03-16,687582,0100000-PRODUTORES,0143058-GUAIBA (RS),10101-BATATA-DOCE,CX,20.0,70.0,1400.0,Sistema
2,2023-05-12,586071,0100000-PRODUTORES,0143072-LAJEADO (RS),05901-ABOBORA,KG,1.0,3580.0,3580.0,Sistema
3,2023-05-25,836035,0100000-PRODUTORES,0143370-MARIANA PIMENTEL (RS),10101-BATATA-DOCE,KG,1.0,500.0,500.0,Sistema
4,2023-08-01,430257,0100000-PRODUTORES,0143314-SAO JOSE DO HORTENCIO (RS),01401-LARANJA BAIA (UMBIGO),CX,20.0,30.0,600.0,Sistema
...,...,...,...,...,...,...,...,...,...,...
393079,2023-08-15,973497,7100687-GRUPO VIZ. DUARTE,0143370-MARIANA PIMENTEL (RS),10101-BATATA-DOCE,KG,1.0,2000.0,2000.0,Sistema
393080,2023-08-21,973499,7100687-GRUPO VIZ. DUARTE,0143370-MARIANA PIMENTEL (RS),10101-BATATA-DOCE,KG,1.0,2000.0,2000.0,Sistema
393081,2023-12-04,807255,7100687-GRUPO VIZ. DUARTE,0143370-MARIANA PIMENTEL (RS),10101-BATATA-DOCE,KG,1.0,200.0,200.0,Sistema
393082,2023-12-18,807257,7100687-GRUPO VIZ. DUARTE,0143370-MARIANA PIMENTEL (RS),02201-MELAO COMUM (GAUCHO),KG,1.0,1000.0,1000.0,Sistema
393083,2023-12-18,807257,7100687-GRUPO VIZ. DUARTE,0143370-MARIANA PIMENTEL (RS),10101-BATATA-DOCE,KG,1.0,1500.0,1500.0,Sistema

In [6]:
df_sql.groupby(['produto','unidade'])['volume'].sum().reset_index()

                            produto unidade       volume
0                     00101-ABACATE      CX  2203340.000
1                     00101-ABACATE      KG  4773649.000
2      00201-ABACAXI CAIENA (HAWAI)      KG   775504.000
3      00201-ABACAXI CAIENA (HAWAI)     UND   343926.000
4              00202-ABACAXI PEROLA      KG  3373449.000
..                              ...     ...          ...
473        54601-ROSA VERMELHA 20UN     MOL       35.658
474               54701-MOSQUITINHO      KG      200.000
475               54701-MOSQUITINHO     MOL      858.300
476  54801-VERDES (SAMAMBAIA PRETA)      KG       24.000
477  54801-VERDES (SAMAMBAIA PRETA)     MOL     2100.500

[478 rows x 3 columns]